@charset "utf-8";

.mb40 {
  margin-bottom: 40px;
}

/* ----start of instructor02 ------*/

.instructor_02 {
  padding-bottom: 90px;
}

.instru-box img {
  max-width: 50%;
}

#name {
  margin-bottom: 30px;
}

#name span {
  font-size: 48px;
  color: #786450;
}

.qualification ul li:first-child {
   margin-top: 15px;
}

.qualification ul li {
  font-size: 28px;
  color: #646464;
}
.message p {
  font-size: 28px;
  padding: 20px 0 40px 0;
  color: #646464;
}

.instructor021-box {
  margin-top: 20px;
  position: relative;
}

.instructor021-box .img01 {
  margin-left: 13%; 
  padding-bottom: 80px;
}

.instructor021-box .img02 {
  margin-left: 7.5%;
}
.instructor021-box:before,
.instructor021-box:after {
  background: url(../images/instructor02_img11.png) no-repeat;
  display: block;
  width: 14%;
  height: 46px;
  position: absolute;
  top: 70px;
  left: 4%;
}

.instructor021-box:after {
  background: url(../images/instructor02_img14.png) no-repeat;
  left: 85%;
}

.instructor021-box a:hover {
  opacity: 0.7;
}

/* start of instructor */

.list ul li {
  float: left;
  margin-right: 8%;
  padding-bottom: 40px;
}

.list ul li:nth-child(3n+0) {
  margin-right: 0;
}