@charset "utf-8";

/*** Menu Page ***/
.bg-pink,.content .limit .sub-limit {
  background: #ff8b8b;
}
.bg-brown {
  background: #786450;
}
.content {
  font-size: 28px;
}
.content a,.content ul li {
  border-radius: 5px;
  padding: 23px 0;
}
.content a {
  font-size: 23px;
  color: #fff;
  display: block;
  text-align: center;
}
.content a:hover {
  opacity: .8;
}
.content .limit {
  width: 100%;
}
.content .limit .sub-limit {
  width: 49%;
  border-radius: 5px;
  display: table;
}
.content .limit .sub-limit a {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}
.content a:after {
  content: "";
  width: 10px;
  height: 18px;
  display: block;
  background: url(../images/menu02.png) no-repeat right;
  float: right;
  margin: 10px 5% 0 0;
}
.content .sub-limit01 a:after {
  margin-top: -3px;
}
.strength ul li {
  float: left;
  width: 32%;
  margin-right: 2%;
  padding-left: 3%;
  color: #fff;
}
.strength ul li:last-child {
  margin-right: 0;
}
.strength .strength01 {
  height: 90px;
  background: url(../images/menu03.png) no-repeat;
  background-size: 100% 100%;
}
.strength .strength02 {
  height: 90px;
  background: url(../images/menu03_01.png) no-repeat;
  background-size: 100% 100%;
}
.yoga-lesson h3 {
  font-size: 34px;
  color: #908078;
  text-align: center;
  padding-bottom: 77px;
}
.yoga-lesson .menu {
  padding: 35px 5% 60px 5%;
}
.yoga-lesson .menu01 {
  background: url(../images/menu04.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu02 {
  background: url(../images/menu05.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu03 {
  background: url(../images/menu06.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu04 {
  background: url(../images/menu07.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu05 {
  background: url(../images/menu08.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu06 {
  background: url(../images/menu09.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 {
  background: url(../images/menu10.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu08 {
  background: url(../images/menu11.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu09 {
  background: url(../images/menu12.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu10 {
  background: url(../images/menu13.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu11 {
  background: url(../images/menu14.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu12 {
  background: url(../images/menu15.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu13 {
  background: url(../images/menu17.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu14 {
  background: url(../images/menu18.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu15 {
  background: url(../images/menu19.png) no-repeat top;
  background-size: 100% 100%;
}
.yoga-lesson .menu07 p,.yoga-lesson .menu10 p {
  margin-top: 20px;
}
.yoga-lesson .menu12 ul li {
  width: 48%;
}